[Unit]
#Launch the NeoPixel Thermometer application
Description= NeoPixel Thermomete

[Service]
User=root
Type=simple
ExecStart=/usr/bin/python3 /home/pi/neotemp/neotemp.py
ExecStop=/usr/bin/python3 /home/pi/neotemp/off_neopixel.py
StandardInput=tty-force
Restart=always

[Install]
WantedBy=default.target
